# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
aclocal.m4
autom4te.cache
config.log
configure
depcomp
install-sh
missing
src/Makefile.in
INSTALL
src/.deps
src/Makefile
src/pomcp
Makefile
Makefile.in
config.status
compile
nbproject
